.button {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-size: 15pt;
    -fx-text-fill: rgb(200, 200, 200);
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.label {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-background-color: transparent;
}

.toggle-button:disabled {
    -fx-opacity: 1;
}